<!--<div class="ui-g-12 ui-md-4">-->
  <!--<div class="ui-inputgroup">-->
    <!--<span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>-->
    <!--<input type="text" pInputText placeholder="Username">-->
  <!--</div>-->
<!--</div>-->

<!--<div class="ui-g-12 ui-md-4">-->
  <!--<div class="ui-inputgroup">-->
    <!--<span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>-->
    <!--<input type="text" pInputText placeholder="Username">-->
  <!--</div>-->
<!--</div>-->

<div class="form-group ui-g-12 ui-md-4 ui-inputgroup">
  <label for="car-name">Car name</label>
  <input type="text"
         class="form-control"
         id="car-name"
         [(ngModel)]="carName"
         placeholder="Car Name">
</div>

<div class="form-group">
  <label for="car-model">Car model</label>
  <input type="text"
         class="form-control"
         id="car-model"
         [(ngModel)]="carModel"
         placeholder="Car model">
</div>

<button type="button" (click)="onAdd()" class="btn btn-outline-primary">Add Car</button>
<button type="button" (click)="onLoad()" class="btn btn-outline-warning">Load Cars</button>
